body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

div {
  background-color: white;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;

}

.pro {
  text-decoration: underline;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.social {
  height: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
p {
  line-height: 2;
}
.circle {
  border-radius: 200px;
}
.skill {

  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.video {
  width: 35%;
  float: right;
  margin-left: 30px;
}
.intro {
  width: 30%;
  margin: auto;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.myButton {
	box-shadow: 0px 0px 0px 0px #7dbd6b;
	background:linear-gradient(to bottom, #5cd17b 5%, #97db72 100%);
	background-color:#5cd17b;
	border-radius:28px;
	border:5px solid #45ad50;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:22px;
	font-weight:bold;
	font-style:italic;
	padding:21px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a83ba8;
}
.myButton:hover {
	background:linear-gradient(to bottom, #97db72 5%, #5cd17b 100%);
	background-color:#97db72;
}
.myButton:active {
	position:relative;
	top:1px;
}
